[fullcontact]
fullContactClientId=
fullContactClientSecret=
fullContactApiKey=
fullContactRateLimitMonth=500

[glassdoor]
glassDoorPartnerId=
glassDoorPartnerKey=

[firebase]
firebaseApiKey=
firebaseAuthUrl=
firebaseDatabaseUrl=
firebaseServiceJson=
firebaseUser=
firebasePassword=

[klout]
kloutApiKey=
kloutRateLimitDay=

[azure]
textAnalyticsKey1=
textAnalyticsKey2=
textAnalyticsRateLimitMonth=
bingSearchKey1=
bingSearchKey2=

[sentry]
dsn=